ruff
elevenlabs~=2.13.0
groq~=0.31.0
alembic~=1.16.4
requests~=2.32.5
psycopg2
psycopg[binary,pool]
uvicorn
python-multipart
python-jose[cryptography]~=3.5.0
passlib~=1.7.4
pydantic-settings~=2.10.1
fastapi~=0.116.1
SQLAlchemy~=2.0.43
pydantic~=2.11.7
python-dotenv~=1.1.1
langchain~=0.3.27
langchain-community~=0.3.29
numpy~=2.3.2
pgvector~=0.4.1
sentence-transformers
pypdf